@model IEnumerable<AdoMVC1.Models.Customer>
@{
    ViewData["Title"] = "Customers";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<div>
    <table class="table">
        <thead>
            @*<tr>
                    @using (Html.BeginForm("SearchCustomer", "Home", FormMethod.Post))
                    {
                    CustomerID: <input type="Text" name ="CustomerID"/>
                            <input type = "submit" value ="Submit"/>
                    }
                </tr>*@
            <tr>
                <th>
                    @Html.DisplayName("ID")
                </th>
                <th>
                    @Html.DisplayName("Customer Name")
                </th>
                <th>
                    @Html.DisplayName("Email ID")
                </th>
                <th>
                    @Html.DisplayName("Mobile No")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNo)
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>









